name: CI/CD Pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest # Беремо віртуальний Linux

    env:
      DB_USER: user
      DB_PASSWORD: password
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: test_db
      TESTING: "True"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -U pytest
          pip install -e .

      - name: Test with pytest
        run: python -m pytest
